@import "https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap";
@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-content-email {
  min-height: 723px;
}

.img-div-email {
  height: 660px;
  float: left;
  margin-top: 30px;
  padding-left: 10vw;
}
.email-body {
  min-height: 900px;
  overflow-x: hidden;
  overflow-y: hidden;
}
section {
  float: right;
}

.anchor-class {
  color: #7d61ff;
  font-size: 1rem;
}
.button-email {
  margin: 35px 0;
}

.email-btn {
  background-color: #7d61ff;
  color: aliceblue;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  transition-duration: 1s;
  transition-timing-function: linear;
  transition: ease;
}
.email-btn:hover {
  background-color: #5634ee;
  color: aliceblue;
}
.toast-class span {
  font-size: 20px;
}
.anchor-class {
  color: #7d61ff;
}
.anchor-class:hover {
  color: #7d61ff;
  text-decoration: none;
}
.anchor-class-checkbox:hover {
  text-decoration: none;
  color: #7d61ff;
}
.btns {
  border: 1px solid #7d61ff;
  background-color: white;
  color: #7d61ff;
  cursor: pointer;
}

.hovers {
  border-color: #7d61ff;
  color: #7d61ff;
  transition: ease;
  transition-timing-function: linear;
  transition-duration: 0.5s;
}
.hovers:hover {
  background-color: #7d61ff;
  color: white;
  text-decoration: none;
}
a {
  text-decoration: none;
}
hr {
  margin-top: 0px;
}
.help-block {
  font-size: smaller;
  color: gray;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.anchor-class-verification {
  color: #7d61ff;
  font-size: 1.1rem;
}
.anchor-class-verification:hover {
  color: #5634ee;
  border-bottom: 2px solid #5634ee;
}
.email-verification-hero {
  height: 600px;
  width: 35vw;
}
ul#menu li {
  display: inline;
  padding: 10px;
}

button:disabled {
  opacity: 0.65;
  cursor: not-allowed;
}

.btn-class {
  display: block;
  text-align: left;
  transition: ease;
  transition-duration: 0.59s;
  transition-timing-function: ease-out;
}

.resend-password-class {
  margin-top: 105px;
}

.arrow-email {
  color: white;
  float: right;
  margin-right: 0.5vw;
  vertical-align: middle;
  margin-top: 2px;
}
button .arrow-email::after {
  background-image: url("../../../assets/images/arrow-for-btn.svg");
  width: 8px;
  height: 16px;
  display: inline-block;
  background-size: 8px 16px;
  content: "";
  -webkit-transition: transform 0.3s ease-out;
  -moz-transition: transform 0.3s ease-out;
  -ms-transition: transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

button:hover,
.arrow-email:hover {
  color: white;
}
button:hover .arrow-email::after {
  -webkit-transform: translateX(4px);
  -moz-transform: translateX(4px);
  -ms-transform: translateX(4px);
  -o-transform: translateX(4px);
  transform: translateX(5px);
}

.verification-class {
  font-size: 1.1rem;
  color: #58647a;
}
.email-verification-button {
  margin: 5px 0px;
}
.email-verification-section {
  margin-top: 140px;
}
.arrow-text-email {
  margin-top: 15.75px;
}
.align-class {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.span-column-center {
  vertical-align: middle;
}
.standard-class {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.nav-link {
  color: #7d61ff;
}
.gray-class {
  color: #58647a;
}

.verify-email-heading {
  font-size: 2.5rem;
  text-align: left;
  font-weight: 700;
}
.email-button-text {
  font-size: 1.1rem;
}

@media (max-width: 481px) {
  .email-verification-hero {
    width: 90vw;
    height: 450px;
  }
  .img-div-email {
    height: 300px;
    padding-left: 0vw;
    float: left;
  }
  .verify-email-heading {
    font-size: 1.1rem;
    text-align: left;
    font-weight: 700;
    margin-top: 15px;
  }
  .verification-class {
    font-size: 0.7rem;
    color: #58647a;
    margin: 10px 0px;
  }
  .email-button-text {
    font-size: 4vw;
  }
  .anchor-class-verification {
    font-size: 0.7rem;
  }
  .last-para {
    margin-bottom: 37.5px;
  }
  .button-email {
    margin: 15px 0;
  }
  .email-btn {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  }
}
@media (min-width: 481px) and (max-width: 769px) {
  .email-verification-hero {
    width: 90vw;
    height: 450px;
  }
  .img-div-email {
    height: 300px;
    padding-left: 0vw;
    float: left;
  }
  .verify-email-heading {
    font-size: 2rem;
    text-align: left;
    font-weight: 700;
    margin-top: 20px;
  }
  .verification-class {
    font-size: 1rem;
    color: #58647a;
    margin: 10px 0px;
  }
  .email-button-text {
    font-size: 3vw;
  }
  .anchor-class-verification {
    font-size: 1rem;
  }
  .last-para {
    margin-bottom: 37.5px;
  }
  .button-email {
    margin: 15px 0;
  }
  .nav-item {
    margin-top: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1000px) {
  .email-button-text {
    font-size: 1.5vw;
  }
  .nav-item {
    margin-top: 30px;
  }
  .verify-email-heading {
    font-size: 1.35rem;
    text-align: left;
    font-weight: 700;
  }
  .email-verification-hero {
    width: 40vw;
    height: 450px;
  }
  .verification-class {
    font-size: 0.85rem;
  }
  .email-btn {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .img-div-email {
    padding-left: 5vw;
    margin-top: 40px;
  }
  .anchor-class-verification {
    font-size: 0.85rem;
  }
}
@media (min-width: 1000px) and (max-width: 1167px) {
  .email-button-text {
    font-size: 1.5vw;
  }
  .verify-email-heading {
    font-size: 2.1rem;
    text-align: left;
    font-weight: 700;
  }
  .email-verification-hero {
    width: 40vw;
    height: 450px;
  }
  .verification-class {
    font-size: 1rem;
  }
  .email-btn {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
  }
  .img-div-email {
    padding-left: 5vw;
    min-height: 400px;
    margin-top: 70px;
  }
  .anchor-class-verification {
    font-size: 1rem;
  }
}
@media (min-height: 901px) {
  .main-content-email {
    min-height: 70.5vh;
    margin-top: 15vh;
  }
}
